.vscode
.gdb_history
*.d
*.json
*.f64
.cache

# filenames of binaries
a.out
generate_json
generate_json_debug
generate_json_prof
haversine
haversine_debug
haversine_prof
reptest
reptest_prof
reptest_debug


int foo(int a)
{
    if (a) return (a + 1);
    return (1);
}

or


int foo_none(void)
{
    return (1);
}

int foo_handle_a(int a)
{
    return (a + 1);
}
